.container{
    color: whitesmoke;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}
.card{
    border-radius: 10px !important;
    background-image: linear-gradient(rgb whitesmoke);
    margin-bottom: 10px !important;

}
.card.img-box{
display: flex;
justify-content: center;
height: 8em;
margin: 30px auto 0 auto !important;
object-fit: scale-down;
}
.img-box img{
border-radius: 10px !important;
width: 90%;
align-self: center;
height: 100%;
}
.card-boy{
    padding-bottom: 50px !important;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    align-items: center;
}
.col-sm-6{
    margin-top: 1em !important;
}
#title{
    color: white !important;
}





